.nav{
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    &__list{
        list-style: none;
    }
    &__listItem{
        width: 10px;
        height: 10px;
        margin-top: 10px;
        border-radius: 50%;
        background-color: rgba(100, 14, 14, 0.6);
        cursor: pointer;
        &--active{
            background-color:darken(rgba(100, 14, 14, 0.6), 20%);
        }
    }
}